@model PixelwareApp.Models.Game

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="game-details-section">
	<div class="game-details-card">
		<div class="game-details-image-container" style="background-image: url(@Model.CoverImage)"></div>

		<div class="game-details-information">
			<h2>Nome: <span class="game-details-name">@Model.Name</span></h2>
			<h4><b>Gênero:</b> @Model.Genre.Name</h4>
			<h4><b>Publisher:</b> @Model.Publisher.Name</h4>
			<h4><b>Data de lançamento:</b> @Model.ReleaseDate.ToUniversalTime().ToString("dd/MM/yyyy")</h4>
			<h4><b>Descrição:</b> @Model.Description</h4>
			<a class="buy-game-btn">
				<span>Comprar</span>
			</a>
		</div>
	</div>
	
</section>
